{
  "openapi": "3.0.1",
  "info": {
    "title": "OpenAPI definition",
    "version": "v0"
  },
  "servers": [
    {
      "url": "https://automationintesting.online/branding/"
    }
  ],
  "paths": {
    "/": {
      "get": {
        "tags": [
          "branding-controller"
        ],
        "operationId": "getBranding",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "required": [
                    "description",
                    "logoUrl",
                    "name"
                  ],
                  "type": "object",
                  "properties": {
                    "name": {
                      "maxLength": 100,
                      "minLength": 3,
                      "pattern": "[A-Za-z& ]*",
                      "type": "string"
                    },
                    "map": {
                      "required": [
                        "latitude",
                        "longitude"
                      ],
                      "type": "object",
                      "properties": {
                        "latitude": {
                          "type": "number",
                          "format": "double"
                        },
                        "longitude": {
                          "type": "number",
                          "format": "double"
                        }
                      }
                    },
                    "logoUrl": {
                      "type": "string"
                    },
                    "description": {
                      "maxLength": 500,
                      "minLength": 3,
                      "pattern": "[a-zA-Z,&. ]*",
                      "type": "string"
                    },
                    "contact": {
                      "required": [
                        "address",
                        "email",
                        "name",
                        "phone"
                      ],
                      "type": "object",
                      "properties": {
                        "name": {
                          "maxLength": 40,
                          "minLength": 3,
                          "pattern": "[A-Za-z& ]*",
                          "type": "string"
                        },
                        "address": {
                          "maxLength": 200,
                          "minLength": 10,
                          "type": "string"
                        },
                        "phone": {
                          "type": "string"
                        },
                        "email": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorCode": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "error": {
                      "type": "string"
                    },
                    "errorMessage": {
                      "type": "string"
                    },
                    "fieldErrors": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "branding-controller"
        ],
        "operationId": "updateBranding",
        "parameters": [
          {
            "name": "token",
            "in": "cookie",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "description",
                  "logoUrl",
                  "name"
                ],
                "type": "object",
                "properties": {
                  "name": {
                    "maxLength": 100,
                    "minLength": 3,
                    "pattern": "[A-Za-z& ]*",
                    "type": "string"
                  },
                  "map": {
                    "required": [
                      "latitude",
                      "longitude"
                    ],
                    "type": "object",
                    "properties": {
                      "latitude": {
                        "type": "number",
                        "format": "double"
                      },
                      "longitude": {
                        "type": "number",
                        "format": "double"
                      }
                    }
                  },
                  "logoUrl": {
                    "type": "string"
                  },
                  "description": {
                    "maxLength": 500,
                    "minLength": 3,
                    "pattern": "[a-zA-Z,&. ]*",
                    "type": "string"
                  },
                  "contact": {
                    "required": [
                      "address",
                      "email",
                      "name",
                      "phone"
                    ],
                    "type": "object",
                    "properties": {
                      "name": {
                        "maxLength": 40,
                        "minLength": 3,
                        "pattern": "[A-Za-z& ]*",
                        "type": "string"
                      },
                      "address": {
                        "maxLength": 200,
                        "minLength": 10,
                        "type": "string"
                      },
                      "phone": {
                        "type": "string"
                      },
                      "email": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorCode": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "error": {
                      "type": "string"
                    },
                    "errorMessage": {
                      "type": "string"
                    },
                    "fieldErrors": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Error": {
        "type": "object",
        "properties": {
          "errorCode": {
            "type": "integer",
            "format": "int32"
          },
          "error": {
            "type": "string"
          },
          "errorMessage": {
            "type": "string"
          },
          "fieldErrors": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "Branding": {
        "required": [
          "description",
          "logoUrl",
          "name"
        ],
        "type": "object",
        "properties": {
          "name": {
            "maxLength": 100,
            "minLength": 3,
            "pattern": "[A-Za-z& ]*",
            "type": "string"
          },
          "map": {
            "required": [
              "latitude",
              "longitude"
            ],
            "type": "object",
            "properties": {
              "latitude": {
                "type": "number",
                "format": "double"
              },
              "longitude": {
                "type": "number",
                "format": "double"
              }
            }
          },
          "logoUrl": {
            "type": "string"
          },
          "description": {
            "maxLength": 500,
            "minLength": 3,
            "pattern": "[a-zA-Z,&. ]*",
            "type": "string"
          },
          "contact": {
            "required": [
              "address",
              "email",
              "name",
              "phone"
            ],
            "type": "object",
            "properties": {
              "name": {
                "maxLength": 40,
                "minLength": 3,
                "pattern": "[A-Za-z& ]*",
                "type": "string"
              },
              "address": {
                "maxLength": 200,
                "minLength": 10,
                "type": "string"
              },
              "phone": {
                "type": "string"
              },
              "email": {
                "type": "string"
              }
            }
          }
        }
      },
      "Contact": {
        "required": [
          "address",
          "email",
          "name",
          "phone"
        ],
        "type": "object",
        "properties": {
          "name": {
            "maxLength": 40,
            "minLength": 3,
            "pattern": "[A-Za-z& ]*",
            "type": "string"
          },
          "address": {
            "maxLength": 200,
            "minLength": 10,
            "type": "string"
          },
          "phone": {
            "type": "string"
          },
          "email": {
            "type": "string"
          }
        }
      },
      "Map": {
        "required": [
          "latitude",
          "longitude"
        ],
        "type": "object",
        "properties": {
          "latitude": {
            "type": "number",
            "format": "double"
          },
          "longitude": {
            "type": "number",
            "format": "double"
          }
        }
      }
    }
  }
}